
body {
    line-height: 1.6;
    font-family: "Microsoft YaHei","\9ED1\4F53","Helvetica Neue","Hiragino Sans GB",Arial,sans-serif;
    color: #222;
    font-size: 14px;
}
h4{
     font-family: "Microsoft YaHei","\9ED1\4F53","Helvetica Neue","Hiragino Sans GB",Arial,sans-serif;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd, fieldset, textarea {
    margin: 0;
    padding: 0;
}


/***************************************/

.choose{

}
.choose a.aclose{
    color: #aaa;
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 160%;
}
.choose a.aclose:hover{
    text-decoration: none;
    color: #ccc;
}
.choose .choose-top{
    padding: 15px 15px;
    background-color: #f4f5f9;
}
.choose .choose-toolbar{
    padding:10px 20px;
    overflow: hidden;
}
.choose  .search-panel{
    float: left;
}
.choose  .op-panel{
    float: right;
    margin-right: 15px;
}
.choose  .op-panel a{
    display: inline-block;
    padding: 4px 8px;
    margin: 0 5px;
    color: #555;   
}
.choose  .op-panel a i.ic{
    background: url("img/media_dialog_z218878.png") 0 -384px no-repeat;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    display: inline-block;
    margin-right:4px 
}
.choose  .op-panel a i.ic-smixd{
    background-position:0 -384px;   
}
.choose  .op-panel a i.ic-mmixd{
    background-position:0 -440px;   
}
.choose  .op-panel a:hover i.ic-smixd{
    background-position:0 -412px;   
}
.choose  .op-panel a:hover i.ic-mmixd{
    background-position:0 -468px;   
}
.choose .choose-content{
    border-top: solid 1px #ddd;
    height: 450px;
    background-color: #fff;
    padding: 25px 50px 5px 50px;
    overflow: auto;
}
.choose-content .material-list>li{     
    width: 320px;
    background-color:#fff;
    cursor:pointer;  
    float: left;
    margin-right: 20px;
}
.choose .search-wrap{
    float: left;
    border:solid 1px #ddd;
}
.choose .search-wrap .ic-btn{
    border:none;
    margin-right: 6px;
    color: #aaa;
}
.choose .search-panel>.ic-btn{
    display: inline-block;
    padding: 4px 8px;
    border:solid 1px #ddd;
    color: #888;
    margin-left: -1px;
}
.choose .search-wrap input{
    width: 300px;
    border:none;
    padding: 4px 8px;
}
.choose .choose-bottom{
    position: fixed;
    bottom:1px;
    text-align: center;
    width: 100%;
    background-color: #f4f5f9;
    padding: 10px 15px;
}
.choose .choose-bottom .btn{
    margin: 0 10px;
    width: 90px;
}

/*******************dailog choose********************/


.xj-window {
    zoom:1;
    display:block;
    z-index:999;
    position:absolute;
    left:0px;
    top:0px;
    background-color: #fff;
}
.xj-window-dailog
{
  border:solid 1px #ccc;
}
.xj-window-dailog .xj-dailog-tl 
{
    display:none;
}
.xj-window-dailog .xj-window-body
{
    padding-top: 0;
}
.xj-window .xj-resizable-handle {
    opacity:0;
    -moz-opacity:0;
    filter:alpha(opacity=0);
}
  
.xj-window-proxy {
    border:1px solid;
    z-index:12000;
    overflow:hidden;
    position:absolute;
    left:0;top:0;
    display:none;
    opacity:.5;
    -moz-opacity:.5;
    filter:alpha(opacity=50);
}

.xj-window-header {
    overflow:hidden;
    zoom:1;
}

.xj-window-bwrap {
    z-index:1;
    position:relative;
    zoom:1;
    left:0;top:0;
}

.xj-window-body {
   overflow:hidden;    
}

.xj-window-bwrap {
    overflow:hidden;
}

.xj-window-body {
    background:transparent;
}

.xj-window-maximized-ct {
    overflow:hidden;
}

.xj-dlg-focus{
    -moz-outline:0 none;
    outline:0 none;
    width:0;
    height:0;
    overflow:hidden;
    position:absolute;
    top:0;
    left:0;
}
.xj-dlg-mask{
    z-index:10000;
    display:none;
    position:absolute;
    top:0;
    left:0;
    -moz-opacity: 0.5;
    opacity:.50;
    filter: alpha(opacity=50);
}
body.ie6.xj-body-masked select {
    visibility:hidden;
}

.xj-window-plain {
    line-height: auto;
}
.xj-window-plain .xj-window-mc {
    border:none;

}
.xj-window-plain .xj-window-body {
    border:solid 1px #a3bae9;
    background:transparent !important;
}

.AppICO .xj-tree-node-icon {
    width:20px;
    background:transparent url("/img/icon/application.png") left center no-repeat;
}

/***************************************/
.headface{
    margin: -4px 8px 0 0;
    border-radius: 100%;
    border: 2px solid #FFF; 
    
}
.form_tip {
    width: auto;
    padding: 4px 20px;
    background-color: #bbe6f8;
    display: inline-block;
}
.infobox{
    height:70px;
}
.badge-container{
    position: absolute;
    right: 10px;
    top: 5px;
}
.badge-info{
    position1: absolute;
    right1: 20px;
    top1: 11px;
    border-radius: 1px;
    text-shadow: none;
    color: #FFF;
    font-size: 11px;
    font-weight: 700;
    line-height: 15px;
    height: 16px;
    padding: 1px 5px;

    margin-bottom: 5px;
}
.badge-content{
    margin-left:5px;
    display:-moz-inline-box;
    display:inline-block;
    width:35px;
    text-align: right;
}

.greenx,a.greenx {
    color:#85B558;
}

.purplex,a.purplex {
color:#9889C1;
}



