@{
    Layout = null;
}
@model UUAC.WebApp.ViewModels.HomeModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Welcome - 统一用户和授权管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <!-- text fonts -->
    <link rel="stylesheet" href="/css/ace-fonts.css" />
    <!-- ace styles -->
    <link rel="stylesheet" href="/css/ace.min.css" id="main-ace-style" />
    <!--[if lte IE 9]>
        <link rel="stylesheet" href="/css/ace-part2.min.css" />
    <![endif]-->
    <!--[if lte IE 9]>
      <link rel="stylesheet" href="/css/ace-ie.min.css" />
    <![endif]-->
    <!--common plugin css-->
    <link rel="stylesheet" href="/css/plugin/jquery.gritter.css" />
    <link rel="stylesheet" href="/css/plugin/xjgrid.css"/>
    <link rel="stylesheet" href="/css/plugin/xjtree.css" />
    <link rel="stylesheet" href="/css/plugin/bdatetimepicker.css" />

    <link rel="stylesheet" href="/css/app.css" />

    <!-- ace settings handler -->
    <script src="/js/ace-extra.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lte IE 8]>
    <script src="/js/lib/html5shiv.js"></script>
    <script src="/js/lib/respond.min.js"></script>
    <![endif]-->
</head>
<body class="no-skin">
    <!-- #section:basics/navbar.layout -->
    <div id="navbar" class="navbar navbar-default">
        <script type="text/javascript">
            try { ace.settings.check('navbar', 'fixed') } catch (e) { }
        </script>
        <div class="navbar-container" id="navbar-container">
            <!-- #section:basics/sidebar.mobile.toggle -->
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
                <span class="sr-only">Toggle sidebar</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- /section:basics/sidebar.mobile.toggle -->
            <div class="navbar-header pull-left">
                <!-- #section:basics/navbar.layout.brand -->
                <a href="#" class="navbar-brand">
                    <small>
                        <i class="fa fa-leaf light-green"></i>
                        &nbsp;统一用户和授权管理系统
                    </small>
                </a>
                <!-- /section:basics/navbar.layout.brand -->
                <!-- #section:basics/navbar.toggle -->
                <!-- /section:basics/navbar.toggle -->
            </div>
            <!-- #section:basics/navbar.dropdown -->
            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    <!-- #section:basics/navbar.user_menu -->
                    <li class="light-blue">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" src="/avatars/avatar.png" alt="管理员's Photo" />
                            <span class="user-info">
                                <small>Welcome,</small>
                                @ViewBag.FullName
                            </span>
                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>
                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <a href="javascript:;">
                                    <i class="ace-icon fa fa-cog"></i>
                                    设置
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="ace-icon fa fa-user"></i>
                                    用户信息
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="/home/logout">
                                    <i class="ace-icon fa fa-power-off"></i>
                                    退出
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- /section:basics/navbar.user_menu -->
                </ul>
            </div>
            <!-- /section:basics/navbar.dropdown -->
        </div><!-- /.navbar-container -->
    </div>
    <!-- /section:basics/navbar.layout -->
    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try { ace.settings.check('main-container', 'fixed') } catch (e) { }
        </script>
        <!-- #section:basics/sidebar -->
        <div id="sidebar" class="sidebar responsive">
            <script type="text/javascript">
                try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
            </script>
            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                    <button class="btn btn-success">
                        <i class="ace-icon fa fa-signal"></i>
                    </button>
                    <button class="btn btn-info">
                        <i class="ace-icon fa fa-pencil"></i>
                    </button>
                    <!-- #section:basics/sidebar.layout.shortcuts -->
                    <button class="btn btn-warning">
                        <i class="ace-icon fa fa-users"></i>
                    </button>
                    <button class="btn btn-danger">
                        <i class="ace-icon fa fa-cogs"></i>
                    </button>
                    <!-- /section:basics/sidebar.layout.shortcuts -->
                </div>
                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>
                    <span class="btn btn-info"></span>
                    <span class="btn btn-warning"></span>
                    <span class="btn btn-danger"></span>
                </div>
            </div><!-- /.sidebar-shortcuts -->
            <ul class="nav nav-list">
                <!--这里是菜单-->
                @{
                    var topmenus = Model.Menus.FindAll(x => x.ParentCode == "UUAC_SystemManage");

                    foreach (var tmenu in topmenus)
                    {
                        
                        string href = tmenu.Resource;
                        if (href == "#")
                        {
                            href = "/!ajax#";
                        }
                        else
                        {
                            href = "/!ajax#!" + href;
                        }

                        <li>
                            <a data-url="!@(tmenu.Resource)" href="@href">
                                @if (!string.IsNullOrEmpty(tmenu.Mark))
                                {
                                    <i class="menu-icon @(tmenu.Mark)"></i>
                                }
                                else
                                {
                                    <i class="menu-icon fa fa-caret-right"></i>
                                }
                                <span class="menu-text"> @tmenu.PrivilegeName </span>

                            </a>
                            <b class="arrow"></b>
                        </li>

                     }
                }


            </ul>
            <!-- /.nav-list -->
            <!-- #section:basics/sidebar.layout.minimize -->
            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>
            <!-- /section:basics/sidebar.layout.minimize -->
            <script type="text/javascript">
                try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
            </script>
        </div>
        <!-- /section:basics/sidebar -->
        <div class="main-content">
            <!-- #section:basics/content.breadcrumbs -->
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
                </script>
                <ul id="breadcrumb" class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#">首页</a>
                    </li>
                    <li>
                        Dashboard
                    </li>
                </ul><!-- /.breadcrumb -->
            </div>
            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <div class="page-content-area">
                    <!-- ajax content goes here -->
                    {+body /}
                </div><!-- /.page-content-area -->
            </div><!-- /.page-content -->
        </div><!-- /.main-content -->
        <div class="footer">
            <div class="footer-inner">
                <!-- #section:basics/footer -->
                <div class="footer-content">
                    <span class="bigger-120">
                        <span class="blue bolder">CRM</span>
                        &nbsp;统一用户和授权管理系统 &copy; 2016
                    </span>
                </div>
                <!-- /section:basics/footer -->
            </div>
        </div>
        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div><!-- /.main-container -->
    <!-- basic scripts -->
    <!--[if !IE]> -->
    <script type="text/javascript">
            window.jQuery || document.write("<script src='/js/lib/jquery.min.js'>"+"<"+"/script>");
    </script>
    <!-- <![endif]-->
    <!--[if IE]>
    <script type="text/javascript">
     window.jQuery || document.write("<script src='/js/lib/jquery1x.min.js'>"+"<"+"/script>");
    </script>
    <![endif]-->


    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='/js/lib/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <!-- ace scripts -->
    <script src="/js/ace-elements.min.js"></script>
    <script src="/js/ace.min.js"></script>
    <!-- plugin scripts -->
    <script src="/js/plugin/jquery.gritter.min.js"></script>
    <script src="/js/plugin/xjgrid.js"></script>
    <script src="/js/plugin/xjtree.js"></script>
    <script src="/js/plugin/bdatetimepicker.js"></script>
    <script src="/js/plugin/choose.js"></script>
    <!-- app scripts -->
    <script src="/js/app/app.js?v=20150211"></script>
    <script type="text/javascript">
    jQuery(function($) {
      if('enable_ajax_content' in ace) {
        var options = {
            content_url: function(url) {
                if(!url.match(/^!/))
                {
                    return false;
                }
                var path = document.location.pathname;
                if(path.match(/!/))
                {
                    path = path.replace(/\/!ajax/, url.replace(/^!/, ''));
                }
                return path ;
            },
            'default_url': '!Home/Dashboard'
        };
        ace.enable_ajax_content($, options);
      }
    });
    </script>
</body>
</html>
