

<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <div class="margin-10"><a id="btnAdd" class="btn btn-block btn-no-border btn-success"><i class="fa fa-plus-circle fa-fw"></i> 新增用户 </a></div>
            <div id="orgTree" style="padding-top:10px;margin-top:2px; background-color:#fbfbfb;min-height:500px"></div>
        </div>
        <div class="col-xs-9">
            <div class="row">
                <div class="col-sm-4">
                    <a style="position:absolute;left:18px;top:6px;"><i class="fa fa-search"></i></a>
                    <input type="text" class="form-control" id="btnQuery" style="padding-left:25px" placeholder="输入账号或姓名过滤">
                </div>
            </div>
            <div id="userList" style="margin-top:10px;"></div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
    window.options = {
            editUrl: "@Url.Action("Edit")",
            removeUrl:"@Url.Action("Remove")",
            listUrl: "@Url.Action("QueryUserList")",
            loadTreeUrl:"@Url.Action("QueryOrgTree","Org")"
        }
        window.setTimeout(function(){
            $(document).trigger('ajaxscriptsloaded');
        }, 10);
    </script>
    <script src="~/js/app/user/list.js"></script>
}