@{
    Layout = "./_Layout_For_Dailog";
}

@section styles{
    <style type="text/css">
      
    </style>

}
<div class="choose">
    <div class="choose-top">
        <h4>组织结构选择</h4>
        <a href="javascript:;" id="btnClose" class="aclose">&times;</a>
    </div>
    <div class="row" style="margin-top:20px">
     
        
    </div>
    <div class="choose-bottom">
        <button id="btnSave" class="btn btn-success btn-sm no-border"> 确 定 </button>
        <button id="btnCancel" class="btn btn-white btn-default no-border"> 取 消 </button>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        window.options = {
         
        }
    </script>
    <script src="~/js/app/privilege/edit.js"></script>
}